/* Copyright 2013 Google Inc. All Rights Reserved. */
body{width:320px;padding: 5px 10px;height: 320px;}

#my_table{
	width: 95%;
	position: absolute;
	left: 1px;
	top: 1px;
	background: white;
}
#info_btn_td{
	text-align: center;
}

